extends ../layout

block vars
  - var activeNav = 'customers'

block content
  h2.section-title Clientes
  if !customers || customers.length === 0
    .card
      p.empty No hay clientes
  else
    .table-wrapper
      table.table
        thead
          tr
            th ID
            th Nombre
            th Correo
            th Estado
        tbody
          each c in customers
            tr
              td= c.id
              td= c.name
              td= c.email
              td
                span.badge= c.status
