html
  head
    title LogiFlow  Grupo 14
  body
    header
      h1 LogiFlow  Grupo 14
      nav
        ul
          li: a(href='/views') Inicio
          li: a(href='/views/customers') Clientes
          li: a(href='/views/orders') Pedidos
          li: a(href='/views/products') Productos
          li: a(href='/views/warehouses') Depósitos
          li: a(href='/views/shipments') Envíos
          li: a(href='/views/invoices') Facturas
          li: a(href='/views/stock') Stock
    main
      block content
