extends ../layout

block vars
  - var activeNav = 'warehouses'

block content
  h2.section-title Depositos
  if !warehouses || warehouses.length === 0
    .card
      p.empty No hay depositos
  else
    .table-wrapper
      table.table
        thead
          tr
            th ID
            th Nombre
            th Ciudad
            th Items en stock
        tbody
          each w in warehouses
            tr
              td= w.id
              td= w.name
              td= w.city
              td= w.itemsEnStock
